:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.site-logo{
 font-size: 3rem;
 text-decoration: none;
 font-family: inherit;
 font-weight: 700;
 letter-spacing: -1px;
 margin-left:50px ;
 color: whitesmoke;
}

.header>nav{
  font-family: inherit;
  font-size: 1.5rem;
  margin: auto 50px;
  display: flex;
  width: 300px;
  justify-content: space-around;
  text-decoration: none;
}

.header>nav>a{
  text-decoration: none;
  color: whitesmoke;
}

.site-container{
  margin: 0;
  padding: 0;
}
.banner-container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url('images/rockets-img.jpg');
  background-size: cover;
  background-position-y: -100px;
}

.banner-container-capsule{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url('images/space_bg.jpg');
  background-size: cover;
}

.banner-container>h1 , .banner-container-capsule>h1 {
  font-size: 4em;
  line-height: 1.1;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}



.tile-container{
  margin: 50px;;
  background-color: #332d2d;
  padding: 30px;
  border-radius: 5px;
}

.tile-container>h2{
  padding-bottom: 10px;
}

.tile-img{
  width: 500px;
  height: 350px;
}

.search-engine{
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c7b5b5;
  color: #242424;
}

.search-engine>h2{
  text-align: center;
  font-size: 2rem;
}

.search-engine>button{
  width: 120px;
  margin: auto;
  height: 40px;
  font-size: 1rem;
  background-color: #242424;
  border-radius: 5px;
}

.parameters{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.parameters>div>label{
  font-size: 1.5rem;
}

.parameters>div>input,.parameters>div>select{
  width: 300px;
  height: 30px;
  margin-left: 20px;
  
}

.grid-container{
  display: flex;
  flex-direction: column;
}
.display-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-text{
  /* border-top: 1px solid white; */
  text-align: center;
  padding: 50px;
}
.detail-window{
  display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 50px;
}

.detail-container{
  max-width: 1000px;
  max-height: 380px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background-color:#111111 ;
  box-shadow: 0px 0px 6px 2px whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detail-window>div>img{
  max-width: 400px;
}
.detail-window>div>p{
  max-width: 500px;
  margin-top: 10px;
}
.detail-window>div>h2{
  font-size: 2.5rem;
}

.view-det-btn{
  padding: 5px;
}
.close-btn{
  width: 20px;
  height: 20px;
  align-self: flex-end;
  /* border: 1px solid white; */
}

.content-table{
  max-width: 70%;
  min-width: 40%;
  margin: 25px 0px;
  font-size: 1.2rem;
  border-collapse: collapse;
}

.content-table thead tr th{
  background-color: #c7b5b5;
  text-align: left;
  font-weight: bold;
  color: #111111;
  margin: 0;
}

.content-table th,
.content-table td{
  padding: 15px;
  margin: 0;

}

.content-table >tbody> tr{
  border-bottom: 1px solid #666464;
}

.content-table >tbody> tr:nth-of-type(even){
  background-color: #1d1c1c;
}

.content-table >tbody> tr:last-of-type{
  border-bottom:3px solid #c7b5b5;
}

.page-number-container{
  margin: auto;
  margin-bottom: 20px;
}
.page-number-container ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
 
}
.page-num{
  font-size: 1.5rem;
  padding: 0px 10px;
  text-decoration: none;
  color: whitesmoke;
 height: 100%;
 border: 1px solid whitesmoke;
}
.active{
  background-color: whitesmoke;
  color: #111111;
}